<h4 class="d-flex justify-content-center text-white mt-5" id="countdown">Prochaine fermeture dans : </h4>

<div class="countdown d-flex justify-content-center">
    <span id="days"></span>
    <span id="hours"></span>
    <span id="minutes"></span>
    <span id="seconds"></span>
</div>
