<div class="container d-flex justify-content-lg-around mb-4">
<form action="/filter_by_date" method="post">
    <label for="date">Filtrer par date</label>
    <input type="date" name="chosen-date" id="date" style="background: #F4F2F2; border: 2px solid #e1e6ef;">
    <input type="submit" value="Filtrer" style="background: #F4F2F2; border: 2px solid #e1e6ef;">
</form>

<form action="/filter_by_name" method="post">
    <label for="reason" >Filtrer par nom/raison</label>
    <input type="text" name="reason" id="reason" placeholder='Par ex: "MAINTENANCE"' style="background: #F4F2F2; border: 2px solid #e1e6ef;">

    <input type="submit" value="Filtrer" style="background: #F4F2F2; border: 2px solid #e1e6ef;">

</form>

</div>
