<nav class="navbar" style="background: linear-gradient(#000018, #00154A);" >
    <div class="container-fluid">
        <a href="/">
        <span class="navbar-brand mb-0 h1 text-white">Bordeaux - Pont Chaban-Delmas</span>
        </a>
    </div>
</nav>