<nav class="navbar" style="background-color: #00102D;" >
    <div class="container-fluid">
        <a href="/">
        <span class="navbar-brand mb-0 h1 text-white">Bordeaux - Pont Chaban-Delmas</span>
        </a>
    </div>
</nav>